<template name="home">
  <div class="sixteen wide column">
    <section class="home-first-section">
      <div class="main-text-wrapper big">
        <h1 class="main-text">HuatLah!</h1>
        <h2 class="sub-main-text">Revolutionise the way you give a helping hand</h2>
      </div>
    </section>
    <section class="home-second-section">
      <div class="sub-text">
        <h3>A world without hunger by simply round up your change to the nearest dollar</h3>
      </div>
      <div class="main-text-wrapper second-wrapper left">
        <h1 class="main-text black">We believe</h1>
        <h2 class="sub-main-text black">that the more you give <br>the more you receive</h2>
        <div class="info-wrapper">
          <p>Round up your changes <br>to the nearest dollar</p>
          <i class="payment icon right"></i>
        </div>
        <div class="info-wrapper">
          <i class="child icon left"></i>
          <p class="right">Reward points <br>and attractive vouchers</p>
        </div>
      </div>
    </section>
  </div>
</template>
