<template name="sidebar">
  <div class="four wide column" style="height:100%;">
    <div class="ui segment" style="height:100%;">

      <img class="ui medium circular image" src="/images/people/nicholas.jpg" />

      <div class="ui link list">
  <div class="active item">
      <a href="/topup">
      <div class="ui primary button">
        <i class="shop icon"></i> Top Up
      </div>
    </a>
    </div>
  <div class="active item">
      <a href="/add_voucher">
      <div class="ui primary button">
        <i class="shop icon"></i> Add Voucher
      </div>
    </a>
  </div>
  <a class="item">
    <a class="logout" href="#">
    <div class="ui primary button">
      <i class="shop icon"></i> Logout
    </div>
  </a>
  </a>
  <a class="item">

  </a>
  <a class="item">

  </a>
</div>

    </div>
</div>


</template>
