<template name="sidebar">
  {{#with currentUser}}
      {{#with profile}}
  <div class="two wide column" style="padding:0px;background:#34425A;">
    <div class="ui segment" style="padding:6px;background:none;border:none;box-shadow:none;">

      <img class="ui small rounded image" style="display:block;margin:0 auto;padding-top:15px;" src="/upload/{{image_url}}" />

      <b style="margin-top:10px;text-align:center;display:block;color:#fff;">
        {{name}}
      </b>

      <div class="ui link list">
        {{#if isCustomer }}
  <div class="active item">
      <a href="/topup">
      <div class="ui sidebarButton">
        <i class="money icon"></i>
        <br /> Top Up
      </div>
    </a>
    </div>
    {{/if}}

    {{#if isRetailer }}

  <div class="item">
      <a href="/add_voucher">
      <div class="ui sidebarButton">
        <i class="add circle icon"></i>
        <br />
        Add Voucher
      </div>
    </a>
  </div>
  {{/if}}

  {{#if isCustomer }}

  <div class="item">
      <a href="/my_vouchers">
      <div class="ui sidebarButton">
        <i class="add circle icon"></i>
        <br />
        My Vouchers
      </div>
    </a>
  </div>
  {{/if}}


  {{#if isCustomer }}
  <div class="item">
      <a href="/update_customer_profile">
      <div class="ui sidebarButton">
        <i class="add circle icon"></i>
        <br />
        Update Customer Profile
      </div>
    </a>
  </div>
  {{/if}}

  {{#if isRetailer }}

  <div class="item">
      <a href="/update_retailer_profile">
      <div class="ui sidebarButton">
        <i class="add circle icon"></i>
        <br />
        Update Retailer Profile
      </div>
    </a>
  </div>
  {{/if}}


  <a class="item">
    <a class="logout" href="/logout">
    <div class="ui sidebarButton">
      <i class="sign out icon"></i>
      <br />
       Logout
    </div>
  </a>
  </a>
</div>

    </div>
</div>
{{/with}}
{{/with}}

</template>
