<template name="customerReg">
  <div class="contentPage fourteen wide column">
  {{#autoForm class="ui form" schema=registerSchema id="customerForm" type="method" meteormethod="customerRegister"}}
    <legend>Register</legend>
    {{> afQuickField name="email" label="Email" placeholder="Your Email"}}
    {{> afQuickField name="phone" label="Phone Number" placeholder="Your Phone Number"}}
    {{> afQuickField name="password" label="Password 1" type="password" placeholder="Your Password"}}
    {{> afQuickField name="passwordConfirmation" label="Password 2"type="password" placeholder="Your Password Again"}}
    <div>
      <button type="submit" class="ui button">Register</button>
    </div>
  {{/autoForm}}
  </div>
</template>
