<template name="customerReg">
  <div class="contentPage fourteen wide column" style="padding:100px">
  {{#autoForm class="ui form" schema=registerSchema id="customerForm" type="method" meteormethod="customerRegister"}}
    <legend><h1>Sign Up Now!</h1></legend><br />
    {{> afQuickField name="email" label="Email" placeholder="Your Email"}} <br />
    {{> afQuickField name="phone" label="Phone Number" placeholder="Your Phone Number"}} <br />
    {{> afQuickField name="password" label="Password" type="password" placeholder="Your Password"}} <br />
    {{> afQuickField name="passwordConfirmation" label="Password Confirmation" type="password" placeholder="Your Password Again"}}
    <br />
    <div>
      <input class="ui blue submit button" id="retailer-register" type="submit" value="Register"/>
    </div>
  {{/autoForm}}
  </div>
</template>
