@import 'variables';
@import 'lib/elements';

.logoBox
{
  font-size:24px;

}

.ui.grid > .column:not(.row), .ui.grid > .row > .column
{
  
}

body
{
background:#ccedff;
}


.colorColumn {
  background-color: #8dcbf7;
  display: block;
  min-height: 10px;
}

.ul.ui.list li, ol.ui.list li, .ui.list > .item, .ui.list .list > .item
{
  padding:0px;
}

.sidebarButton
{
  display:block;
  margin-bottom:10px;


}
.list .button
{
  border-radius:none;
  width:100%;
  margin:0px;
  border-bottom:1px solid #ccc;
  font-size:16px;
}

.voucherCard:hover
{
    background:#d0f5ff;
}

.list .item a{
  text-align: center;
}


.list .icon
{
  font-size:28px;

  margin-bottom:6px;
}
