@import 'variables';
@import 'lib/elements';

.logoBox
{
  font-size:24px;

}

.ui.grid > .column:not(.row), .ui.grid > .row > .column
{

}

body
{
background:#ccedff;
}

.contentPage
{
  background:#f2f6ff;padding-top:10px;padding-bottom:20px;
}

.colorColumn {
  background-color: #8dcbf7;
  display: block;
  min-height: 10px;
}

.ul.ui.list li, ol.ui.list li, .ui.list > .item, .ui.list .list > .item
{
  padding:0px;
}

.sidebarButton
{
  display:block;
  margin-bottom:10px;

  color:#ddd;

}
.voucherCard:hover
{
    background:#d0f5ff;
}

.list .item a{
  text-align: center;
  color:#eee;
}


.list .icon
{
  font-size:28px;
  color:#eee;

  margin-bottom:6px;
}
