<template name="voucher_store">

  <div class="twelve wide column">



    <div class="ui four column stackable doubling grid featured_vouchers">
      <div class="ui segment">

        <div class="ui four column stackable doubling grid featured_vouchers">
          {{#each vouchersList}}

          <div class="column">
            <div class="ui segment">
              <img src="/upload/{{image_url}}" />
              <a href="/redeem/{{_id}}/{{user_id}}">
                <div class="ui green button">Redeem</div>
              </a>
            </div>
          </div>
              {{/each}}
        </div>

      </div>

    </div>


  </div>

</template>
