<template name="voucher_store">

  <div class="twelve wide column">



    <div class="ui four column stackable doubling grid featured_vouchers">
      {{#each vouchers}}

      <div class="column">
        <div class="ui segment">
          <img src="/images/vouchers/sample_macdonald_voucher.png" />
          <button class="redeem ui primary button">
            Redeem
          </button>
          <button class="ui button">
            Points {{points}}
          </button>
        </div>
      </div>
      {{/each}}

    </div>


  </div>

</template>
