<template name="voucher_store_add">

  <div class="twelve wide column">

    {{#autoForm class="ui form" schema=voucherStoreAddSchema_client id="voucherStoreAddForm" type="method" meteormethod="addVoucher"}}

      <div class="field">
        {{> afQuickField name="name"}}
      </div>
      <div class="field">
        {{> afQuickField name="points"}}
      </div>
      <div class="field">
        {{> afQuickField name="quantity"}}
      </div>
      <div class="field">
        <label>Voucher Image</label>
        {{> upload_semanticUI}}
        {{> afQuickField class="image_url" name="image_url" type="hidden"}}
      </div>
      <div class="field">
          {{> afQuickField name="expire" type="datetime-local"}}
      </div>
      <button class="ui button addVoucherButton" disabled="disabled" type="submit">Add Voucher</button>
    {{/autoForm}}

  </div>

</template>
