<template name="topup">
  <div class="contentPage fourteen wide column">

    <div class="ui segment">
      <h2>
        Top up!
      </h2>
      <p>
        Select an amount that you wish to top up into your HuatLah Card!
      </p>
      <button  class="ui blue button topupButton" name="name" value="20" type="submit">$20.00</button>
      <button  class="ui blue button topupButton" name="name" value="50" type="submit">$50.00</button>
      <button  class="ui blue button topupButton" name="name" value="100" type="submit">$100.00</button>

      <div class="ui action left icon input">
    {{#autoForm schema=topupSchema_client id="topupForm" type="method" meteormethod="topup"}}
    <div class="ui corner labeled input">
      {{> afQuickField class="amount" name="amount"}}
      <div class="ui corner label">
        <i class="asterisk icon"></i>
      </div>
    </div>

      <button type="submit" class="ui button">Topup</button>
    {{/autoForm}}
  </div>
</div>

  </div>
</template>
