<template name="dashboard">

  <div class="contentPage fourteen wide column">
    {{#with currentUser}}
        {{#with profile}}

        {{#if isCustomer }}

    <div class="ui two column stackable doubling grid">
      <div class="column">
        <div class="ui segment customer-table">
          <div class="ui statistic" style="text-align:center;margin:0 auto; display:block;width:100%;max-width:100%;">
            <div class="label">
              Points
            </div>
            <div class="value">
              {{rewardpoints}}
            </div>
          </div>
          {{> reactiveTable class="ui celled table" settings=pointsSetting}}
        </div>
      </div>
      <div class="column">

        <div class="ui segment customer-table">

          <div class="ui statistic" style="text-align:center;margin:0 auto; display:block;width:100%;max-width:100%;">
            <div class="label">
              Balance
            </div>
            <div class="value balance">
              {{moneybalance}}
            </div>
          </div>
          {{> reactiveTable class="ui celled table" settings=settings}}
        </div>
      </div>

    </div>

    {{/if}}
    {{/with}}
  {{/with}}
  <div class="ui fourteen column">

    {{#if isCustomer }}

            <div class="ui link cards featured_vouchers">

            {{#each vouchersList}}
                <div class="card voucherCard">
                  <div class="image">
                    <img src="/upload/{{image_url}}" />
                  </div>
                  <div class="content" style="text-align:center;display:block;">
                    <div class="header">{{name}}</div>
                    <div class="meta">
                      <a>Voucher</a>
                    </div>
                    <div class="description">
                      <b style="font-size:26px;color:#2689a8;">
                        Redeem with <br />
                        {{points}} points
                      </b>
                    </div>
                  </div>
                  <div class="extra content">
                    <span class="right floated">

                      <a href="/redeem/{{_id}}/{{user_id}}">
                      <div class="ui green button">Redeem</div>
                    </a>

                    </span>
                    <span>
                      <i class="user icon"></i>
                      {{quantity}} Vouchers Left
                    </span>
                  </div>
                </div>
            {{/each}}
      </div>
      {{/if}}


      {{#if isRetailer }}

        <h2>
          Vouchers
      </h2>


      {{/if}}





    </div>

  </div>


</template>
