<template name="dashboard">


  <div class="twelve wide column">
    {{#with currentUser}}
        {{#with profile}}
    <div class="ui two column stackable doubling grid">
      <div class="column">
        <div class="ui segment">
          <div class="ui statistic">
            <div class="label">
              Points
            </div>
            <div class="value">
              {{rewardpoints}}
            </div>
          </div>
          <br />
        </div>
      </div>
      <div class="column">

        <div class="ui segment">

          <div class="ui statistic">
            <div class="label">
              Balance
            </div>
            <div class="value balance">
              {{moneybalance}}
            </div>
          </div>

        </div>
      </div>

    </div>
    {{/with}}
  {{/with}}

    <div class="twelve wide column">
      <div class="column">
        <div class="ui segment">

          <div class="ui four column stackable doubling grid featured_vouchers">
            {{#each vouchersList}}

            <div class="column">
              <div class="ui segment">
                <img src="/upload/{{image_url}}" />
                <a href="/redeem/{{_id}}/{{user_id}}">
                  <div class="ui green button">Redeem</div>
                </a>
              </div>
            </div>

            {{/each}}
          </div>

          <a href="/vouchers">
            <div class="ui blue button">View More Vouchers</div>
          </a>
        </div>

      </div>
    </div>
  </div>


</template>
