<template name="header">
  <div class="sixteen wide row">

  <div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item">
      Huat Lah!
    </a>
    <a class="item">
      <i class="home icon"></i> Home
    </a>
    <a class="item">
      <i class="sign in icon"></i> Login
    </a>
    <div class="ui simple dropdown item">
      Sign Up!
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="user icon"></i>Customer</a>
        <a class="item"><i class="doctor icon"></i>Needy</a>
        <a class="item"><i class="users icon"></i>Retailer</a>
      </div>
    </div>
    <div class="right item">
      <div class="ui input"><input placeholder="Search..." type="text"></div>
    </div>
  </div>
</div>
</div>
</template>
