<template name="header">
  <div class="sixteen wide column">

  <div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item">
      Huat Lah!
    </a>
    {{#if currentUser}}

    <a href="/dashboard" class="item">
      <i class="home icon"></i> Dashboard
    </a>

    {{else}}
    <a href="/" class="item">
      <i class="home icon"></i> Home
    </a>
    {{/if}}
    {{#if currentUser}}
    {{else}}
    <a class="item" href="/login">
      <i class="sign in icon"></i> Login
    </a>
    {{/if}}


    <div class="ui simple dropdown item">
      <a href="/register">
      Sign Up!
    </a>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="user icon"></i>Customer</a>
        <a class="item"><i class="doctor icon"></i>Needy</a>
        <a class="item"><i class="users icon"></i>Retailer</a>
      </div>
    </div>
  </div>
</div>
</div>
</template>
