<template name="retailerProfile">
  <div class="contentPage fourteen wide column">
    {{> upload_semanticUI }}

  {{#autoForm class="ui form" schema=retailSchema id="retailerProfileForm" type="method" meteormethod="updateProfile"}}
  <div class="field">
    <label>Profile Picture</label>
    {{> afQuickField class="image_url" name="image_url" type="hidden"}}
  </div>
    {{> afQuickField name="name" placeholder="Your Name"}}
    {{> afQuickField name="phone" placeholder="Your Phone Number"}}
    <button class="ui button addVoucherButton" type="submit">Update Profile</button>
  {{/autoForm}}
  </div>
</template>
