<template name="retailerProfile">
  <div class="twelve wide column">
  {{#autoForm class="ui form" schema=registerSchema id="retailerForm" type="method" meteormethod="retailerRegister"}}
    <legend>Welcome Onboard!</legend>
    {{> afQuickField name="email" placeholder="Your Email"}}
    {{> afQuickField name="phone" placeholder="Your Phone Number"}}
    {{> afQuickField name="password" type="password" placeholder="Your Password"}}
    {{> afQuickField name="passwordConfirmation" type="password" placeholder="Your Password Again"}}
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  {{/autoForm}}
  </div>
</template>
