<template name="changepassword">
    <div class="twelve wide column">
    {{#autoForm class="ui form" schema=registerSchema id="changpasswordForm" type="method" meteormethod="changepwd"}}
      <legend>Change Password</legend>
      {{> afQuickField name="oldpassword" type="password" label="Old Password" placeholder="Your Old Password"}}
      {{> afQuickField name="password" type="password" label="New Password" placeholder="Your New Password"}}
      {{> afQuickField name="passwordConfirmation" type="password" label="New Password Confirmation" placeholder="Your New Password Again"}}
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    {{/autoForm}}
    </div>
  </template>
